/**
 * prism.js Monokai theme
 * @author Sam Clarke
 */
div[class*="language-"],
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2 !important;
  background: #272822 !important;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  font-size: 0.9em !important;
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.4 !important;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2 !important;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none !important;
}

/* Code blocks */
div[class*="language-"] pre,
code[class*="language-"] pre,
pre[class*="language-"] pre {
  padding: 0.8em !important;
  overflow: auto !important;
  background: #272822 !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em !important;
  border-radius: 0.3em !important;
  white-space: normal !important;
  background: #272822 !important;
}

.token.plain {
  color: #f8f8f2 !important;
}

.token.comment {
  color: #c3c3c3 !important;
}

.token.blockquote,
.token.shebang.important,
.token.shebang {
  color: #75715e !important;
}

.token.deleted {
  color: #d00 !important;
}

.token.inserted {
  color: #0c6 !important;
}

.token.operator,
.token.important,
.token.keyword,
.token.rule,
.token.tag,
.token.selector,
.token.prolog,
.token.title .token.punctuation {
  color: #f92672 !important;
}

.token.property,
.token.entity,
.token.atrule,
.token.command,
.token.code {
  color: #66d9ef !important;
}

.token.regex,
.token.atrule .token.property {
  color: #fd971f !important;
}

.token.function {
  color: #66d9ef !important;
}

.token.pseudo-element,
.token.id,
.token.class,
.token.class-name,
.token.pseudo-class,
.token.namespace,
.token.symbol,
.token.url-reference .token.variable,
.token.attr-name {
  color: #a6e22e !important;
}

.token.string,
.token.url,
.token.list,
.token.cdata,
.token.attr-value,
.token.attr-value a.token.url-link {
  color: #e6db74 !important;
}

.token.constant,
.token.hexcode,
.token.builtin,
.token.number,
.token.boolean {
  color: #ae81ff !important;
}

.token.doctype,
.token.punctuation,
.token.variable,
.token.macro.property {
  color: #f8f8f2 !important;
}

.token.entity {
  cursor: help !important;
}

.token.title,
.token.title .token.punctuation {
  font-weight: bold !important;
}

.token.bold {
  font-weight: bold !important;
}

.token.italic {
  font-style: italic !important;
}

/* YAML */
.language-yaml .token.atrule {
  color: #f92672 !important;
}

/* Bash */
.language-bash .token.function {
  color: #f92672 !important;
}
